@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.color-red {
	color: #cb001b;
}

.color-blue {
	color: #0271b1;
}

.color-orange {
	color: #e47747;
}

.color-grey {
	color: #505050;
}

.color-background-lightred {
	background-color: #ff9a99;
}

.color-background-lightblue {
	background-color: #94c7de;
}

.color-background-lightgrey {
	background-color: #D0D0D0;
}

.font-exo {
	font-family: "Exo", sans-serif;
	font-weight: 700;
}

.title-text {
	margin: 0;
	font-size: 60px;
	text-align: center;
}

.menu-main {
	font-size: 0;
}

.menu-select {
	text-align: center;
	font-size: 26px;
}

.form-title {
	text-align: center;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 350px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

.list-inline-item:not(:last-child) {
	margin: 0;
}

.hvr-sweep-to-bottom {
	vertical-align: baseline;
}

.hvr-sweep-to-bottom:before {
	background: rgba(0, 0, 0, 0.2);
}

.img-electoralcollege {
	background: url("../images/electoral-college.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 360px;
}

.img-georgiaresult {
	background: url("../images/georgia-result.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 360px;
}