@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.color-red {
	color: #cb001b;
}

.color-blue {
	color: #0271b1;
}

.color-orange {
	color: #e47747;
}

.color-grey {
	color: #505050;
}

.color-background-lightred {
	background-color: #ff9a99;
}

.color-background-lightblue {
	background-color: #94c7de;
}

.color-background-lightgrey {
	background-color: #D0D0D0;
}

.font-exo {
	font-family: "Exo", sans-serif;
	font-weight: 700;
}

.text-align-center {
	text-align: center;
}

.text-title {
	margin-left: 30px;
}

.text-desp {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
}

.title-text {
	margin: 0;
	padding: 5px;
	font-size: 60px;
}

.menu-main {
	font-size: 0;
}

.menu-select {
	font-size: 26px;
	padding: 5px;
	width: 100%;
	height: 100%;
}

.center-form {
	padding-top: 10px;
	margin: 0 auto;
	max-width: 350px;
}

.form-text {
	font-family: "Exo", sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding-top: 20px;
}

.form-control {
	font-size: 20px;
	height: 40px;
	border-radius: 20px;
}

button[type="submit"] {
	margin-top: 30px;
	margin-bottom: 20px;
	color: #fafafa;
	background-color: #e84610;
}

.list-inline-item:not(:last-child) {
	margin: 0;
}

.hvr-sweep-to-bottom {
	vertical-align: baseline;
}

.hvr-sweep-to-bottom:before {
	background: rgba(0, 0, 0, 0.2);
}

.img-electoralcollege {
	background: url("../images/electoral-college.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 360px;
}

.img-georgiaresult {
	background: url("../images/georgia-result.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 360px;
}

.img-nebraskadistrict {
	background: url("../images/nebraska-district.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 360px;
}

.img-mainedistrict {
	background: url("../images/maine-district.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 360px;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 120px;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 120px;
}

.social-links {
	padding: 15px;
}

.social-links li a i {
	width: 32px;
	height: 32px;
	padding: 12px 0;
	border-radius: 50%;
	font-size: 13px;
	line-height: 7px;
	text-align: center;
	color: #fafafa;
	background: #8f8f8f;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
	background: #e84610;
}